<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<main class="container">
    <h1>All Products</h1>
    <% if (productList.length > 0) { %>
    <% for (let product of productList) { %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src='/img/<%= product.img %>'>
        <div class="card-body">
            <h5 class="card-title productName"><%= product.title %></h5>
            <p class="card-text productInfo"><%= product.info %></p>
            <div>
                <button class="btn btn-success" type="button">Add to Cart</button>
                <a class="btn btn-primary" href="/all-product/<%= product.id %>">Details</a>
            </div>
        </div>
    </div>
    <% } %>
    <% } else { %>
    <p1>No product Found</p1>
    <% } %>
</main>

<%- include('../includes/foot.ejs') %>