<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<main class="container">
    <h1>Cart page</h1>
    <% if (cart.length > 0) { %>
    <% for (let product of cart ) { %>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="outContent_wrapper">
                <div class="img_wrapper">
                    <img class="cart_img" alt="404" src="/img/<%= product.img %>">
                </div>
                <div class="content_wrapper">
                    <div class="content_firstLine d-flex w-100 justify-content-between">
                        <% if (product.pulledOff && product.pulledOff === true) {%>
                        <h5 class="title_text mb-1">Sorry! The product has been pulled off.</h5>
                        <% } else { %>
                        <h5 class="title_text mb-1"><%= product.title %></h5>
                        <% } %>
                        <small class="info_text">3 days ago</small>
                    </div>
                    <div class="content_secondLine">
                        <div>
                            <p class="content_text mb-1"><%= product.info %></p>
                            <small class="info_text">Donec id elit non mi porta.</small>
                        </div>
                        <div class="qty_wrapper">
                            <small class="info_text">Quantity: <%= product.qty %></small>
                        </div>
                        <div class="price_wrapper">
                            <b class="em_text"><%= product.itemsPrice %>$</b>
                        </div>
                        <div class="cart_buttonSet">
                            <form action="/cart/delete/<%= product.id %>" method="POST">
                                <button class="cart_deleteButton btn btn-light">&times;</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <% } %>
    <div class="sumInfo_wrapper">
        <div class="sumInfo_columnWrapper">
            <p class="info_text">Total quantity: <%= cart.totalQuantity %></p>
            <p class="info_text">Total price: <%= cart.totalPrice %>$</p>
        </div>
    </div>
    <% } else { %>
        <p>Your cart is empty</p>
    <% } %>
</main>

<%- include('../includes/foot.ejs') %>